$spacer: 20px;
$mainMenuHeight: 64px;

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
    background: #303030;
    color: #ccc;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-card-header {
    padding: 16px !important;
}

.mdc-card__media {
    max-width: 1024px !important;
}

.main-menu {
    position: sticky;
    top: 0;
    z-index: 3;
    height: $mainMenuHeight;

    .spacer {
        flex: 1 1 auto;
    }
}

.search-toolbar {
    position: sticky;
    top: $mainMenuHeight;
    z-index: 3;
    height: 56px;
}

.main-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav.pagination {
    padding: $spacer;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin-right: calc($spacer / 2);
        margin-left: calc($spacer / 2);
    }
}

h2.page-title {
    margin: $spacer;
}

.empty-list {
    margin: $spacer;
}